@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:400,700|PT+Sans+Narrow:400,700");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  color: #495057;
  font-family: "Roboto", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  line-height: 1.7rem; }

a:focus,
a:hover {
  outline: none;
  text-decoration: none; }

ul {
  list-style: none; }

button {
  outline: none; }

input[type="text"] {
  outline: none; }

a {
  transition: 0.3s;
  color: #212324; }

a:hover {
  color: #FFC107; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.section-padding {
  padding: 6rem 0;
  font-family: "Roboto"; }

.section-margin {
  margin: 6rem 0; }

.head-title {
  font-size: 3rem; }

.input--transparent,
.input--transparent:focus {
  border: none;
  border-radius: 0;
  border: 1px solid #333;
  box-shadow: none;
  font-size: 1.7rem;
  background: none;
  padding-right: 1rem;
  transition: 0.3s; }

.inputPadding--focus:focus {
  padding-left: 1.5rem; }

.img_container {
  width: 565.5px;
  height: 731px;
  margin: 5px auto;
  position: relative; }

.form-separator {
  padding-top: 2.5rem; }

.input-group textarea {
  min-height: 2.5rem; }

.input-group-prepend .input-group-text.label {
  max-width: 7rem;
  width: 7rem;
  justify-content: center; }

.invalid-feedback, .valid-feedback {
  text-align: center;
  font-size: 1rem; }

.tag-dropdown {
  top: 30%;
  left: 20%; }

.form-container {
  background-color: #F9F9F9; }

.add-group.img {
  width: 75%; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.navigation {
  height: 77px; }
  .navigation__secondary {
    width: 100%;
    height: 25px;
    background-color: #FFC107; }
    .navigation__secondary > .login {
      margin-right: 14%;
      font-size: 1.5rem; }
      .navigation__secondary > .login :hover {
        color: #363030; }
  .navigation__basic {
    height: 53.35px; }
    .navigation__basic .navbar {
      padding: 0px; }
    .navigation__basic .navbar-brand {
      color: #FFC107;
      font-family: "Roboto";
      font-size: 3.5rem;
      font-weight: bold;
      padding-top: 0px; }
    .navigation__basic .navbar-light {
      background-color: transparent; }
    .navigation__basic.navbar-dark {
      background-color: #363030; }
    .navigation__basic > .nav-line {
      line-height: 3.6rem; }
    .navigation__basic .nav-content {
      width: 36%; }
      .navigation__basic .nav-content ul {
        margin-bottom: 0px; }
      .navigation__basic .nav-content ul li a {
        font-family: "Roboto";
        font-size: 2rem;
        font-weight: 400;
        color: white;
        position: relative; }
      .navigation__basic .nav-content ul li a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        width: 0;
        transition: width 0s ease;
        transition: background 0.5s ease; }
      .navigation__basic .nav-content ul li a:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        height: 3px;
        width: 0;
        background: #FFC107;
        transition: width 0.5s ease; }
      .navigation__basic .nav-content ul li a:hover:before,
      .navigation__basic .nav-content ul li a.active:before {
        width: 100%;
        background: #FFC107;
        transition: width 0.5s ease; }
      .navigation__basic .nav-content ul li a:hover:after,
      .navigation__basic .nav-content ul li a.active:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }
    .navigation__basic .nav-extras {
      width: 30%; }
      .navigation__basic .nav-extras .nav li a {
        color: white;
        font-size: 2.5rem; }
      .navigation__basic .nav-extras .nav-btn:hover {
        color: white; }
      .navigation__basic .nav-extras .nav-item .cart-icon {
        position: relative; }
        .navigation__basic .nav-extras .nav-item .cart-icon__orders {
          background-color: red;
          line-height: 3px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          padding: 5px 3px 5px;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          position: absolute;
          top: -3px;
          right: 3px; }
