@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:400,700|PT+Sans+Narrow:400,700");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 100%; }

body {
  color: #495057;
  font-family: "Roboto", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  line-height: 1.7rem; }

a:focus,
a:hover {
  outline: none;
  text-decoration: none; }

ul {
  list-style: none; }

button {
  outline: none; }

input[type="text"] {
  outline: none; }

a {
  transition: 0.3s;
  color: #212324; }

a:hover {
  color: #FFC107; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

a:hover {
  text-decoration: none; }

.section-padding {
  padding: 6rem 0;
  font-family: "Roboto"; }

.section-margin {
  margin: 6rem 0; }

.head-title {
  font-size: 3rem; }

.input--transparent,
.input--transparent:focus {
  border: none;
  border-radius: 0;
  border: 1px solid #333;
  box-shadow: none;
  font-size: 1.7rem;
  background: none;
  padding-right: 1rem;
  transition: 0.3s; }

.inputPadding--focus:focus {
  padding-left: 1.5rem; }

form .separator {
  padding-top: 2.5rem; }

.input-group textarea {
  min-height: 2.5rem; }

.input-group-prepend .input-group-text#group-title, .input-group-prepend .input-group-text#city, .input-group-prepend .input-group-text#region, .input-group-prepend .input-group-text#description {
  max-width: 7rem;
  width: 7rem;
  justify-content: center; }

.add-group.img {
  width: 75%; }
