//Colors
$white:white;
$color-primary:  #ed6571;
$color-secondary:  #212324;
$color-menu:  #E01B3C;
$color-menu-hover:  #c10a28;
$checked:  #2ecc71;

//Social media colors
$facebook : #3b5998;
$twitter : #1da1f2;
$linkedin : #0077b5;
$google : #ea4335;
 //grays
 $color: #495057;
 $black : #000;

 // Dashboard
 $dashboard-main-color:#3498db;
 $dashboard-gray-color:#18191b;
// Fonts
$head-font : "PT Sans Narrow" ;
$main-font : "Lato" ; 


// Header 0 - 1 
$header-overlay-opacity : 0.7;