// Colors
$white: white;
$color-primary: #ffc107;
$color-secondary: #fb5858;

$color-dark-navbar1: #363030;
$color-orange-headline1: #ee9a0b;

// Social media colors
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google: #ea4335;
// grays
$color: #495057;
$black: #000;
$color-gray-background1: #f9f9f9;
$color-gray-background2: #505050;
$color-gray-background3: #979797;
$color-gray-background4: #f2f2f2;

// Dashboard

// Fonts
$head-font: "Roboto";
$main-font: "Roboto";
