// Colors
$white:white;
$color-primary:  #FFC107;
$color-secondary:  #FB5858;

$color-dark-navbar1:#363030;
$color-orange-headline1:#EE9A0B;

// Social media colors
$facebook : #3b5998;
$twitter : #1da1f2;
$linkedin : #0077b5;
$google : #ea4335;
// grays
$color: #495057;
$black : #000;
$color-gray-background1:#F9F9F9;
$color-gray-background2:#505050;
$color-gray-background3:#979797;
$color-gray-background4:#F2F2F2;

// Dashboard

// Fonts
$head-font : "Roboto" ;
$main-font : "Roboto" ; 
