@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:400,700|PT+Sans+Narrow:400,700");

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/animation";
@import "base/reset";
@import "base/typography";
@import "base/helpers";

// Components
@import "components/button";
@import "components/card";
@import "components/comments";
@import "components/dropdown";
@import "components/filter_nav";
@import "components/form";
@import "components/input";
@import "components/orderBill";

@import "components/pagination";
@import "components/popup";
@import "components/sideMenu";
@import "components/signIn";
@import "components/feature";
@import "components/statusbar";

@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/section";
@import "layout/sidebar";

// Pages

@import "pages/restaurantDetails";
@import "themes/admin";
@import "themes/theme";
