.d-block--first {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/Slider/img1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.d-block--second {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/Slider/img2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.d-block--third {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/Slider/img3.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.carousel-description {
  color: $white;
  position: absolute;
  border-left: 1rem solid $color-primary;
  left: 8rem;
  bottom: 35rem;
}

.caption {
  letter-spacing: 0.15rem;
  line-height: 4.2rem;
  margin: 0;
  font-size: 4rem;
  text-align: left;
  padding-left: 2rem;
}
.form-search {
  position: absolute;
  left: 8rem;
  top: 40rem;
}

.input-search {
  width: 35rem !important;
  border-radius: 0;
  font-size: 1.5rem;
  padding: 2rem;
}

// .input-search::placeholder {
//   font-size: 1.2rem;
// }

.btn-search {
  font-size: 2.4rem;
  padding: 1rem;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
