.listing-header {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  color: rgba(51, 51, 51, 0.5);
  &__btn {
    float: right;
    font-size: 2rem;
    padding: 0.7rem;
    background-color: $color-primary;
  }
}

.product-details {
  &__image {
    border-radius: 2rem;
    width: 60rem;
    height: 40rem;
    margin: 2rem 0 2rem 0;
  }
}
