.sidebar {
  background-color: $color-gray-background1;
  padding: 30px;
  &__headline {
    color: $color-gray-background3;
    font-size: 2.5rem;
  }

  &__avatar {
    width: 100px;
    height: 100px;
  }

  .link__copy {
    background-color: $color_primary;
    color: $color-gray-background1;
  }
  .link__info {
    padding: 7px 15px;
    background-color: $color-dark-navbar1;
  }
  .group__link {
    font-size: 1rem;
    color: $color-gray-background1;
  }
  &__links {
    background-color: $color-dark-navbar1;
    padding: 7px 15px;
    color: #aaa;
    font-size: 1.7rem;
  }
  hr {
    border: 1px solid $color_primary;
  }
}
