.button {
  color: $white;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  border-radius: 0.5rem;
  &--black {
    background-color: #333;
    &:hover {
      color: $color-primary;
    }
  }
  &--block-btn {
    margin: 0 auto;
    display: block;
  }
  &--small-btn {
    font-size: 1.3rem;
  }
  &--secondary {
    background-color: $color-secondary;
    &:hover {
      color: $black;
    }
  }
  &--primary {
    background-color: $color-primary;
    &:hover {
      color: $black;
    }
  }
  &--border {
    border: 0.5rem solid $color-primary;
  }
  &--transparent {
    background-color: transparent;
    color: $white;
    width: 11.757rem;
    border-radius: 2.5rem;
    padding: 0.4rem;
  }
  &-filterNav {
    background-color: transparent;
    color: $color-primary;
    &:hover {
      color: $color-gray-background3;
    }
  }
  &-homeSearch {
    letter-spacing: 0.15rem;
    padding: 0.5rem;
    color: $color-primary;
    border: 0.2rem solid $color-primary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      color: $white;
      background-color: $color-primary;
    }
  }
  &-createGroup {
    background-color: transparent;
    color: $black;
    border-radius: 4rem;
    padding: 0.7rem;
    font-size: 2rem;
    // font-weight: bold;
    width: 25.5rem;
    margin-top: 7rem;
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
}
