.button {
  color: $white;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  &--black {
    background-color: #333;
    &:hover {
      color: $color-primary;
    }
  }
  &--block-btn {
    margin: 0 auto;
    display: block;
  }
  &--small-btn {
    font-size: 1.3rem;
  }
  &--secondary {
    background-color: $color-secondary;
    &:hover {
      color: $black;
    }
  }
  &--primary {
    background-color: $color-primary;
    &:hover {
      color: $black;
    }
  }
  &--border {
    border: 30px solid $color-primary;
  }
  &--transparent {
    background-color: transparent;
    color: $white;
    width: 11.757rem;
    border-radius: 2.5rem;
    padding: 0.4rem;
  }
}
