.btn {
    // height: 3rem;
    font-weight: 400;
    // width: 20px;
    // border: 1px solid  rgba(0, 168, 255,1.0);
    color: black;
    background-color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    outline: none;
    text-align: center;



    &.btn--oval {
        border-radius: 25px;
        padding: .6rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    &.btn--rectangle {
        border-radius: 0px;
        // padding: 0.5rem;
        color: black;
        background-color: white;
        width: auto;

        &.btn__left {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;

        }

        &.btn__right {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        &.btn__center {
            border-radius: 0px;
        }
    }

    &.btn--dark {
        color: #bdbdbd;
        border-color: black;

        &.btn--solid {
            color: #bdbdbd;
            background-color: black;
        }

        &:hover {
            color: white;
            background-color: #444;
            border: 1px solid #444;
        }
    }

    &.btn--rounded {
        //years month days
        border-radius: 50%;
        // padding: 0.6rem 1rem 0.6rem 1rem;
        // padding:1rem 1rem 1rem 1rem;
        color: white;
        background-color: #f4f7f6;
        width: auto;

        // &:hover {
        //     background-color: #01b2c6;
        // }
    }

    &.btn--square {
        // width: 30px;
        // height: 30px;
        border-radius: 4px;
        width: auto;    
        &.small{
            padding: 0rem 1rem 0rem 1rem;
        }
        &.meduim{
            padding : 0.4rem 0.4rem 0.4rem 0.4rem;
        }
        &.big{
            padding: 1rem 1rem 1rem 1rem;
        }
    }

    &.btn--smooth {
        border-radius: 0.4rem;
    }

    &.btn--transparent {
        background-color: transparent;
    }

    &.btn--white{
        color: black;
        border-color: white;

        &.btn--solid {
            color: black;
            background-color: white;
        }

        &:hover {
            color: brown;
            background-color: #eee;
            border: 1px solid #eee;
        }
    }
    &.btn--green {
        color: #ffc107;
        border-color: #ffc107;

        &.btn--solid {
            color: white;
            background-color: #ffc107;
        }

        &:hover {
            color: white;
            background-color: #e0a800;
            border: 1px solid #e0a800;
        }
    }

    &.btn--gray {
        color: #6c757d;
        border-color: #6c757d;

        &.btn--solid {
            color: white;
            background-color: #6c757d;
        }

        &:hover {
            color: white;
            border: 1px solid #585a63;
            background-color: #585a63;
        }
    }

    &.btn--blue {
        color: #007bff;
        border-color: #007bff;

        &.btn--solid {
            color: white;
            background-color: #007bff;
        }

        &:hover {
            color: white;
            background-color: #0069d9;
            border: 1px solid #0069d9;
        }
    }

    &.btn--red {
        color: red;
        border-color: red;

        &.btn--solid {
            color: white;
            background-color: red;
        }

        &:hover {
            color: white;
            background-color: darkred;
            border: 1px solid darkred;
        }
    }

    &.btn--dark-red {
        color: #C82333;
        border-color: #C82333;

        &.btn--solid {
            color: white;
            background-color: #C82333;
        }

        &:hover {
            color: white;
            background-color: red;
            border: 1px solid red;
        }
    }

    &.btn--dark-green {
        color: #23B684;
        border-color: #23B684;

        &.btn--solid {
            color: white;
            background-color: #23B684;
        }

        &:hover {
            color: white;
            background-color: #ffb900;
            border: 1px solid #ffb900;
        }
    }

    &.btn--meduim{
        font-size: 2.4rem;
        font-weight: 700;
    }
    &.btn--small {
        font-size: 2rem;
        font-weight: 700;
    }
    &.btn--x-small{
        font-size: 1.3rem;
        font-weight: 700;
    }

    &.btn--long {
        font-size: 1.4rem;
        font-weight: 600;
        padding-left: 7rem;
        padding-right: 7rem;


    }


    &-group {
        //TODO: stick btns with each other
        display: flex;
        flex-direction: row;
        padding: 15px 0px 15px 0px;
    }

    &.btn--disabled {
        background-color: transparent;
        border-color: #585a63;
        color: #585a63;

        &:hover {
            color: #585a63;
            background-color: transparent;
            border-color: #585a63;
        }
    }


}