.menu-card{
   &__item{
    background-color: $color-gray-background4;
    padding: 2rem;
    position: relative;
   
   }
   &__edit-delete-fav{
    position: absolute;
    left:0;
    i{
        display: block;
        width:3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background-color:#e6e6e6;
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
        cursor: pointer
    }
    .fa-heart-o{
        color:red
    }
    }
    &__fav{
        position: absolute;
        right: 2rem;
        top: 2rem;
    .fa-heart-o{
        color:red;
    }
    .fa-pencil{
        color:rgb(182, 181, 181)
    }
    .fa-trash{
        color:rgb(182, 181, 181)
    }
   }
   &__heading{
    color:  $color-primary;
    font-size: 1.9rem;
    margin-bottom: 0.1rem;
   }
   &__image-card{
        margin: 0 auto 1rem;
        width:9rem;
        height:9rem;
        position: relative;
   }
   &__size{
    display: flex;
    justify-content: space-between 
 }
 &__size-data{
    position: relative;
 }
 
   &__option-active{
        background-color: $color-primary;
    }
    &__option-size{
        font-size: 1.3rem;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        position: relative;
        input[type=radio]{
            display: none;
          }
          &:hover .menu-card__option{
            background-color:$color-primary;
          }
          input:checked + .menu-card__option{
            background-color:$color-primary;
          }
    }
    &__option{
        width:1.5rem;
        height: 1.5rem;
        margin:0rem auto 0.5rem;
        display: block;
        border-radius: 50%;
        background-color: $white;
        border:0.1rem solid $color-primary;

   }
   &__option-active{
    background-color:$color-primary;
   }
    &__price-data{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    &__price-before{
        opacity: .4;

    }
    &__dashed{
        width:5rem;
        height: 0.1rem;
        background-color: rgb(216, 213, 213);
        display: inline-block;
        position: relative;
        left:-6rem;
        top:-0.7rem;
        margin-right: 1.4rem;
    }
    &__border{
        width:100%;
        height: 0.1rem;
        background-color: rgb(216, 213, 213);
        display: inline-block;
        margin: 2rem 0 1rem;
    }
   &__image{
        width:100%;
        border-radius: 50%;
   }
   &__sale{
       width:4.2rem;
       height: 4.2rem;
       background-color: $color-secondary;
       border-radius:  50%;
       position: absolute;
       color:$white;
       font-size: 1.3rem;
       line-height: 4.2rem;
       text-align: center;
       left: 77%;
       top:0rem;
   }
   &__size-info{
    display: flex;
    margin: 2rem 0;
   }
   &__size-info-left{
       background-color: $black;
       color:$white;
       width:15%;
       height: 15%;
       display: inline-block;
       line-height: 3rem;
       text-align: center;
       cursor: pointer
    }
    &__size-info-medium{
        width:70%;
        height: 3rem;
        line-height: 3rem;
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        border: none
    }
    &__size-info-right{
        background-color: $black;
        color:$white;
        width:15%;
        height: 15%;
        display: inline-block;
        line-height: 3rem;
        text-align: center;
        cursor: pointer
    }
    .star-rating li {
        padding: 0 0.1rem;
    }
    .star-rating i {
        font-size: 1.4rem;
        color: #ffdc12;
    }
    &__data{
        font-size: 1.5rem;
        line-height: 1.2;
    }
    &__info-data{
        display: flex;
    }
    &__menu-data{
        margin-left: 1.6rem;
    }
    .margin-right{
        margin-right: 0.5rem;
    }
}

.big-cart
{
    height: 700 px !important;
    display: flex;
    flex-wrap: wrap;
    font:500;
    margin: auto;
    font-size: 3rem !important;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    margin-top: 5rem !important;
    line-height: 5rem !important;
    &-now
    {
        color: $color-primary;
    }
     
}
.big-cart-img
{
    height: 100%;
}

.img2
{
    height: 100% !important;
    width: 100%;
}

////////////////////////////////////////////
.big-title
{
    color: white;
    margin: auto;
    padding-top : 5.1rem;
    font-size: 3.6rem;
}

.bg-color
{
    height: 444px ;
    background-color: rgba(#333333, .6)
}

.carts-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: auto;
    justify-content: center;

}

.cart
{
    text-align: center;
    height: 8.5 rem !important;
    flex-basis: 27%;
    margin-top: 3.5rem;
}

.cart-img
    {
        height: 32% !important;
        width: 30%;
        margin: auto;
        border-radius: 50%;
    }
.cart-title
{
    color: $color-primary;
    padding-top: 3rem;
    font-family: $main-font;
    font-size: 2.4rem;
}
.cart-descryption
{
   width: 80%;
   text-align: center;
   margin: auto;
   font-weight: 500;
   color: $white;
}
.cart-number
{
    background-color: rgba(#ea4335, 1.4);
    width: 4rem;
    height: 4rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 50%;
    text-align: center;
    color: $white;
    justify-items: center;

}
