.card2
{
   
    width:18% ;
    height: 28rem;
    @include border-radius(30px);
    border: none;
    overflow: hidden;
&--top
{
    height: 20rem;
    overflow: hidden;

}
&--card-text2
{   font-size: 3rem ;
    font-weight: 600;
    color:  $color;
    line-height: 3rem;
    font-family: $main-font;
    transition: all 1s ease-in-out ;
}
&--card-img-top2
{
    width:100%;
    height: 100%;
    background-color: $white;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    position: relative;
    transition: all 1s ease-in-out ;
   
}
&--opicity-image
    {
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:18rem;
        opacity: 0;

    }
&--card-body2
{
    text-align: center;
    height: 10rem;
   
}
&--dyscryption
{
    font-size: 1.34rem;
    color: $color;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    display: flex;

}

&:hover
    {
       .card2--card-img-top2{
        transform: scale(1.1,1.1);
       }
       .card2--card-text2
       {
           color: $color-primary;
       }
        .card2--opicity-image
        {
         opacity: .1;
        }
 }
}