.menu-card{
   &__item{
    background-color: $color-gray-background4;
    padding: 2rem;
    position: relative
   }
   &__edit-delete-fav{
    position: absolute;
    left:0;
    i{
        display: block;
        width:3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background-color:#e6e6e6;
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
    }
    .fa-heart-o{
        color:red
    }
    .fa-pencil{
        color:rgb(182, 181, 181)
    }
    .fa-trash{
        color:rgb(182, 181, 181)
    }
   }
   &__heading{
    color:  $color-primary;
    margin-bottom: 0.1rem;
   }
   &__image-card{
        margin: 0 auto 1rem;
        width:12rem;
        height:12rem;
        position: relative;
   }
   &__option{
        width:1.3rem;
        height: 1.3rem;
        display: block;
        border-radius: 50%;
        background-color: $white;
        border:0.1rem solid $color-primary;
        position: relative;
        left:50%;
        transform: translateX(-50%)
   }
   &__size{
    display: flex;
    justify-content: space-between 
 }
   &__option-active{
        background-color: $color-primary;
    }
    &__option-size{
        font-size: 1.3rem;
    }
    
    &__price-data{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    &__price-before{
        opacity: .4;

    }
    &__dashed{
        width:5rem;
        height: 0.1rem;
        background-color: rgb(216, 213, 213);
        display: inline-block;
        position: relative;
        left:-6rem;
        top:-0.7rem;
        margin-right: 1.4rem;
    }
    &__border{
        width:100%;
        height: 0.1rem;
        background-color: rgb(216, 213, 213);
        display: inline-block;
        margin: 2rem 0;
    }
   &__image{
        width:100%;
        border-radius: 50%;
   }
   &__sale{
       width:4.2rem;
       height: 4.2rem;
       background-color: $color-secondary;
       border-radius:  50%;
       position: absolute;
       color:$white;
       font-size: 1.3rem;
       line-height: 4.2rem;
       text-align: center;
       left: 77%;
       top:0rem;
   }
   &__size-info{
    display: flex;
    margin: 2rem 0;
   }
   &__size-info-left{
       background-color: $black;
       color:$white;
       width:15%;
       height: 15%;
       display: inline-block;
       line-height: 3rem;
       text-align: center
    }
    &__size-info-medium{
        background-color: $white;
        color:$black;
        width:70%;
        height: 3rem;
        line-height: 3rem;
        display: inline-block;
        font-size: 1.5rem;
        text-align: center
    }
    &__size-info-right{
        background-color: $black;
        color:$white;
        width:15%;
        height: 15%;
        display: inline-block;
        line-height: 3rem;
        text-align: center
    }
    .star-rating li {
        padding: 0 0.1rem;
    }
    .star-rating i {
        font-size: 1.4rem;
        color: #ffdc12;
    }
}
