.product-card
{
    // width : 20%;
    height: auto;
    padding: 0;
    display: flex;
    border: none;
    box-shadow:5px 5px 10px grey;
    
&__top
{
    height: 60%;
}
&__img
{
    height: 100%;   
}
&__body
{
    text-align: center;
    padding: 0;
}
&__title
{
    font-size: 3.5rem;
    font-family: $main-font;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom:.5rem;
    color: $color;
}
&__description
{
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:-.5rem;
    padding-bottom: .2rem;
    color: $color;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
}
hr
{
    line-height: 1rem;
    margin:1rem;
    
}
&__price
{
    color: $color;
    font: bold;
    font-size:1.9rem;
    display: flex;
    justify-content:space-around;
  &:active
  {
      color:$color-primary;
  }
}
&__butn
{
    border: none;
    background-color: $color-primary;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 600 !important;
    font-size: 2rem;
    font-weight: 400;
    &:hover
    {
        background-color: $color-primary;
    }
    &:active
    {
        background-color: $color-primary !important;
    }
}
&__count
{
    color: $color;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.9rem;
    justify-content:space-around;
    &__box
    {
        width: 30%;
    }
}
   

&:hover
{
    .product-card__title
    {
        color: $color-primary;
    }
}

}
