/*start contact*/
.contact-us{
    background-color: $dashboard-gray-color;
    
	&__paragraph{
		color:#7e7e7e;
		margin-bottom: 50px
    }
    &__input
    {
        margin-bottom: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
	&__form{
        
		 textarea{
            height: 187px;
            resize: none;
		}
		button{
			color:#FFF;
			background-color:#ff8b38;
			border: 2px solid #ff8b38;
			padding: 10px 25px;
			display: block;
			font-weight: bold;
			border-radius: 4px;
			margin: 0 auto
		}
	}
}
/*end contact*/
