.restaurant-feature{

    &__cards{
            &__card{
                margin: 5rem 0 2rem 1rem;
                text-align: center;          
                &__icon{
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 50%;
                    background-color:  rgba(85, 85, 85,.4);
                    color: $color-primary;
                    padding-top: .5rem;
                        a{
                            text-align: center;  
                        }
                }
                &__details{
                    font-size: 1.8rem;
                    letter-spacing: 0.3px;
                    color: $color-secondary;
                }
            }
    }

    &__img{
        width: 80%;
    }
}
img{
    width: 100%;
}