.featured-restaurant{
    &-info {
        padding-left: 2.5rem;
        & > span.red-clr {

            display: block;
            font-family: Poppins;
            font-weight: 400;
            font-size: 1.2rem;
            letter-spacing: 0.2px;
        
        }
        & > h4 {
            display: inline-block;
            // float: left;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 1.0px 0 1.9rem;
            width: 100%;
        }
        &.post-likes{
            
            &.style2 {
                top: 2.3rem;
                bottom: auto;
                padding: 0;
                background-color: transparent;
                font-weight: 700;
                font-family: lato;
                font-size: 1.5rem;
            }
        }
        &.post-rate {
            background-color: #ffbe00;
            position: absolute;
            right: 3.0rem;
            top: 5.4rem;
        
        }
    }
    &-thumb {
        width: 12.5rem;
    }
    &-box{
        padding-top: 2.2rem;
        margin-top: 2.2rem;
        border-top: 1px solid #f5f5f5;
        position: relative;
        display: table;
        width: 100%;
        & > * {
            display: table-cell;
            vertical-align: middle;
        }
        &.with-bg {
            background-color: #f9f9f9;
            box-shadow: none;
            border: 1px solid rgba(248,248,248,.44);
            padding: 4.0px 2.5rem;
            margin-top: 0;
            &:hover{
                box-shadow: 0px 2px 5px rgba(0,0,0,0.09);
            }
            &.featured-restaurant-thumb {
                padding: 0 1.5px 0 0;
                width: 6.0rem;
                border-right: 1px solid #f8f8f8;
            }
        }
        &.remove-ext {
            margin-bottom: 3.0rem;
        }
        &.style2 {

            // background: #fff none repeat scroll 0 0;
            border: medium none;
            border-radius: 0.3rem;
            margin-top: 2.8rem;
            width: 100%;
            padding: 3.0px 2.0px 4.0rem;
            box-shadow: 0px 0.5rem 3rem 0px rgba(0, 0, 0, 0.04);
            &.featured-restaurant-info {
                padding-right: 4.0rem;
                & > h4 {
                    font-weight: 700;
                    font-size: 2.0rem;
                }
                &.post-rate {
                    position: absolute;
                    top: 5.0rem;
                    margin-top: 0;
                    right: 2.0rem;                
                }
            }
        }
        
    }
}

.post-rate {

    position: absolute;
    top:1.0rem;
    right: 1.0rem;
    font-family: lato;
    z-index: 1;

}
.post-likes {

    position: absolute;
    right: 6.5rem;
    top: 1.0rem;
    font-family: Poppins;
    z-index: 1;

}