.control {
  font-size: 1.3rem;
  font-weight: 200;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  height: calc(4.25rem + 2px);
  color: $color-gray-background2;
  @include transition(0.4s);
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-control--inputs{
  height: calc(4.25rem + 2px);
  font-size: 1.5rem;
}
.form-control--size{
  font-size: 1.5rem;
}
.form-control--inputs-txtarea{
  height: calc(6.25rem + 2px) !important;
}
.label--size{
  max-width: 9rem !important;
  width: 9rem !important;
  font-size: 1.2rem;
}
.form-control.is-invalid~.invalid-feedback{
  font-size: 1.5rem;
}
.control__indicator {
  position: absolute;
  top: 5px;
  left: 80px;
  width: 15px;
  height: 15px;
  @include transition(0.3s);
  background: #e6e6e6;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: $color-primary;
  @include transition(0.3s);
}

.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: 0.6;
  background: #e6e6e6;
}

.control__indicator:after {
  position: absolute;
  display: none;
  content: "";
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 1px 1px 0;
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  top: 1px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}