.order-bill{
    border: 0.1rem solid $black;
    padding: 1rem;
    padding-bottom:5rem;
    position: relative;
    &__heading{
        text-align: center;
        margin:3rem 0;
        font-weight: bold;
        font-size: 3rem;
    }
    &__total{
        position: relative;
        left:6rem;
        font-size: 2rem;
        font-weight: bold
    }
    &__order{
        margin:0 1rem;
        font-size: 2rem;
        font-weight: bold
    }
    &__size{
        margin:0 1rem;
    }
    &__total-price{
        position: relative;
        left:7rem;
        font-size: 2rem;
        font-weight: bold
    }
    &__dash{
        position: relative;
        top:-0.5rem;
        width:15rem;
        height: 0.1rem;
        background-color: $color-gray;
        display: inline-block
    }
    &__price{
        margin-left: 1rem;
    }
    &__data{
        margin: 3rem 0;
        &:after{
            content:"";
            width:100%;
            height: 0.2rem;
            background-color: $color-gray;
            display: block;
            position: relative;
            top:2rem;
        }
        
    }
    &__check{
        background-color: #333;
        width:70%;
        color:$white;
        padding: 1rem;
        position: absolute;
        left:60%;
        transform: translateX(-50%)
    }
    &__check-subtotal{
        margin-right:1.5rem;
    }
    &__check-info{
        position: relative
    }
    &__check-dash{
        width:2rem;
        height: 0.1rem;
        background-color: $color-gray;
        display: inline-block;
        position: absolute;
        top:1.8rem;
        left:50%;
    }
    
    &__check-price{
        position: absolute;
        right:0rem;
    }
    .btn{
        position: relative;
        top:1.5rem;
    }
}
.margin-bottom{
    margin-bottom: 2rem;
}
.color-primary{
    color:$color-primary;
}
.color-secondary{
    color:$color-secondary;
}
