// start restaurant card
.restaurant-card{
    max-width: 60rem;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    &__img-container{  
     overflow: hidden;
    }
    &__img{
       @include transition(opacity 0.3s ease); 
       border-radius: 2rem 0 0 2rem;
    }
    &__rating{
        position: absolute;
    }
    &__body{
    position: relative;
    padding: 1.25rem 0 0 1.25rem;
        &__like{
            display: none;
            position: absolute;
            top: 1.5rem;
            right: 3rem;
            font-size: 2rem;
            i{
              &:hover{                             
                color: $color-primary;      
              }
           }
            }
           

        &__title{
            font-family: $head-font; 
            color: $color-secondary;
            font-size: 2.5rem;
            margin-bottom: .1rem;
        }
        &__category{
            font-family: $main-font;
            color:  $color;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        &__payment{          
            margin-bottom: .5rem;
        }
        &__details{
            
            margin-bottom: .5rem;
        }
        &__view{
            font-size: 2rem;
            border-top: 0.0625rem solid  #ebebeb;
            margin: 1.125rem 0 0 0;
            padding: 1.125rem 1.5rem .5rem 0;    
            cursor: pointer;
            
            &__rating{
                display: inline;
                margin-right: 23rem;
                a{
                    font-size: 2rem;
                }
            }
        }
    }
    &:hover  .restaurant-card__body__title {
        @include transition(color 0.3s ease);
        color: $color-primary;
      }
      &:hover .restaurant-card__img {
        @include transition(opacity 0.3s ease);
        opacity: 0.9;
      }

      &:hover  .restaurant-card__body__like {
        @include transition(display 0.3s ease);
        display: block;
      }
}

// end restaurant card
