.select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .select select {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    border: 0;
    background: #e1e1e1;
    @include border-radius(0);
    outline: 0;
    @include transition(0.4s);
    // background: $color-primary;
    @extend %placeholder-none;
} 
  .select select::-ms-expand {
    display: none;
  }

  // .select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}

.select select:disabled {
  pointer-events: none;
  opacity: .5;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: $white transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}