
.widget {
    color: black;
    float: left;
    margin-bottom: 50px;
    width: 100%;
    &.style2 {
        padding: 0;   
    }
    &-title2 {
        float: left;
        width: 100%;
        font-size: 17px;
        color: #181818;
        font-weight: 700;
        position: relative;
        padding-left: 20px;
        margin-bottom: 18px;
        margin-top: 0;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            height: 13px;
            width: 10px;
            background-color: #ea1b25;
        }
    }
    &-data {
        float: left;
        width: 100%;
        position: relative;
        background-color: #f9f9f9;
        padding: 50px 15px;
        overflow: hidden;
        &::before {
            background-color: #fff;
            border-radius: 10%;
            content: "";
            height: 50px;
            position: absolute;
            transform: skewX(74deg) rotate(-4deg);
            width: 486px;
            left: -90px;
            top: -46px;
        }
        &::after {

            background-color: #fff;
            border-radius: 10%;
            content: "";
            height: 50px;
            position: absolute;
            transform: skewX(74deg) rotate(-4deg);
            width: 486px;
            bottom: -46px;
            right: -90px;
            top: auto;
        
        }
    }
    &.style2 ul {
        padding: 0 15px;
        & li {
            color: #535353;
            font-family: Poppins;
            margin-top: 0;
            & a ~ span{    
                float: right;
                color: #535353;
            }
        }
    }
    & ul li {
        font-size: 13px;
        color: #999;
        float: left;
        width: 100%;
        position: relative;
        margin-top: 12px;
        & a {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            text-decoration: none;
            color: black;
            &::before {
                content: "\f101";
                font-family: fontawesome;
                position: absolute;
                left: 0;
                color: #ea1b25;
            }
            &:hover {
                padding-left: 25px;
                color: #ea1b25;
                transition: all .3s cubic-bezier(.91,.37,.48,.64);
            }
        }
    }
}