.Table
{

 & > tr > td {
   padding-top: 8px;
   border-top: 1px solid #e7e7e7;
 }
 & thead > tr > th {
   border-bottom: 1px solid #e7e7e7;
 }
 & thead {
   background: $color-primary;
   text-align: left;
 }
 & thead th {
   color: #ffffff;
   font-weight: bold;
 }
 & tbody {
   background: #FFF;
 }
 & tbody td {
   color: #444444;
 }
  
}
