<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Final Project</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- card-category -->
    <div class="card card2">
        <div class="card2--top">
         <img src="/images/image-004-300x300.jpg" class="card-img-top card2--card-img-top2">
         <div class="card2--opicity-image"></div>
        </div>
        <div class="card-body card2--card-body2">
          <p class="card-text card2--card-text2">Pizza</p>
          <p class="card2--dyscryption">Choose Your Favourite Pizza</p>
        </div>
    </div>
    <!-- end of card-category -->

    <!-- card-product -->
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-8 ">
            <div class="card product-card">
                <div class="product-card__top">
                    <img src="/images/yusuf-evli-698215-unsplash.jpg" class="card-img-top product-card__img" alt="...">
                </div>
                <div class="card-body product-card__body">
                    <h2 href="#" class="card-title product-card__title">Cheese Burger</h2>
                    <p class="card-text product-card__description">Meat, Tomato, Cheese, Egg, lettuce.</p>
                    <hr>
                    <form>
                        <label class="radio-inline product-card__price">
                            <input type="radio" name="optradio" value="small">S
                            <div id="small-price"><b>$10</b></div>
                        </label>
                        <label class="radio-inline product-card__price">
                            <input type="radio" name="optradio" value="meduim">M
                            <div id="meduim-price"><b>$12</b></div>
                        </label>
                        <label class="radio-inline product-card__price">
                            <input type="radio" name="optradio" value="large">L
                            <div id="large-price"><b>$14</b></div>
                        </label>
                        <hr>
                        <label class="product-card__count">Count :
                            <input type="number" name="count" class="product-card__count__box">
                        </label>
                    </form>
                    <hr>
                    <div class="btn btn-primary product-card__butn ">
                        <a href="#">Add To Cart</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    <!-- end of card-product -->

    <!-- start of check out card -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-5 col-lg-4">
                    <div class="ckeck-card">
                            <div class="detail-card">
                                <div class="detail-card__img-container">
                                    <img src="/images/dmitry-shkaev-1127307-unsplash (1).jpg" class="img-container__img">
                                </div>
                                <div class="detail-card__product-count">2 X</div>
                                <h2 class="detail-card__product-name">Cheese Burger</h2>
                                <span class="detail-card__product-size">meduim</span>
                                <span class="detail-card__product-price">$12</span>
                            </div>
                            <hr>
                            <div class="ckeck-card__sub-total">
                                Sub Total : 
                                <label class="sub-total__price">$200</label>
                            </div>
                            <hr>
                            <div class="ckeck-card__total">
                                    Total : 
                                    <label class="total__price">$220</label>
                            </div>
                    
                        </div>
            </div>
        </div>
    </div>
   
    <!-- end of check out card -->
</body>

</html>