.section-padding {
  padding: 6rem 0;
  // background: red;
  font-family: $head-font;
}
.section-margin {
  margin: 6rem 0;
}
.section__title {
  color: $color_primary;
  font-size: 4rem;
  text-align: center;
}
.head-title {
  font-size: 3rem;
}
.input--transparent,
.input--transparent:focus {
  border: none;
  border-radius: 0;
  border: 1px solid #333;
  box-shadow: none;
  font-size: 1.7rem;
  background: none;
  padding-right: 1rem;
  @include transition(0.3s);
}
.inputPadding--focus:focus {
  padding-left: 1.5rem;
}
