*
{
    padding: 0;
    margin: 0;
}

html
{
    font-size:100%;
}

body 
{
    color: $color;
    font-family: $main-font ,$head-font ,sans-serif;
    font-weight: 400;
    font-size:1.8rem;
    letter-spacing: 0.3px;
    line-height: 1.7rem;
}

a:focus,
a:hover
{
    outline: none;
    text-decoration: none;
}

ul
{
    list-style: none;
}

button{
    outline: none;
}
input[type="text"]{
    outline: none;
}