@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:400,700|PT+Sans+Narrow:400,700');
a {    
    @include transition(0.3s);
    color: #212324;
}

a:hover {
    color: $color-primary;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: $head-font , sans-serif;
    font-weight: 700;
}
a:hover {
    text-decoration: none
}